# Task 4.8 Grouping Data & Aggregating Variables

# 01. Import Libraries

In [4]:
import pandas as pd
import numpy as np
import os

# 02. Import dataframe

In [5]:
# Set path

path = r'/Users/dianaalatriste/Documents/Instacart'

In [6]:
# Import user_products_merged_updated dataframe

ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_updated.pkl'))

# 03. 4.8.3. Aggregate mean of “order_number” column grouped by “department_id”for the entire dataframe

In [7]:
# Calculate mean of the column 'order_number' grouped by the 'department_id' column


ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

### Comments: In the subset 'df' there were only limited number of department_id's. By aggregating and calculating mean of the 'order_number' column in the entire dataset it is possible to see all the department_id's.

# 04. 4.8.4. Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

In [8]:
# 1. Split the data into groups based on the “user_id” column.
# 2. Apply the `transform()` function on the “order_number” column to generate the maximum orders for each user.
# 3. Create a new column, “max_order,” into which you’ll place the results of your aggregation.

ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [9]:
# Check output

ords_prods_merge.head(15)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,last_purchase,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Average orders,10
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Most orders,10
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Average orders,10
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Most orders,10
5,3367565,1,prior,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10
6,550135,1,prior,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10
7,3108588,1,prior,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10
8,2295261,1,prior,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10
9,2550362,1,prior,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Average orders,10
10,2968173,15,prior,15,1,9,7.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22
11,1870022,15,prior,17,2,16,8.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22
12,1911383,15,prior,18,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22
13,2715276,15,prior,21,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22
14,487368,15,prior,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22

In [10]:
# Check for frequency of values in new 'max_order' column

ords_prods_merge.value_counts('max_order')

max_order
99    1171333
8      811843
6      811396
9      810213
7      803979
       ...
97      44949
98      44587
96      40453
2           6
1           5
Length: 99, dtype: int64

In [11]:
# Create 1st condition

ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [12]:
# Create 2nd condition

ords_prods_merge.loc[(ords_prods_merge['max_order']<= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [13]:
# Create 3rd condition

ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [14]:
# Check frequency of 'loyalty_flag' newly createe column

ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

# 05. 4.8.5.

In [15]:
# Group by 'flag_loyalty' column and aggregate by 'prices' column

ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['count', 'mean', 'min', 'max', 'std', 'median']})

                    prices
                     count       mean  min      max         std median
loyalty_flag
Loyal customer    10284093  10.386336  1.0  99999.0  328.017787    7.4
New customer       6243990  13.294670  1.0  99999.0  597.560299    7.4
Regular customer  15876776  12.495717  1.0  99999.0  539.720919    7.4

### Regular customers have a higher mean price of purchased items, however, they also represent the biggest population compared to loyal or new customers.

# 06. 4.8.6.

### The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:

### If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
### If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [16]:
# 1. Split the data into groups based on the “user_id” column.
# 2. Apply the `transform()` function on the “prices” column to find the average price per order for each user.
# 3. Create a new column, “average_expenses,” into which you’ll place the results of your aggregation.

ords_prods_merge['average_expenses'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [17]:
# Check output

ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,last_purchase,product_id,add_to_cart_order,reordered,...,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_expenses
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Average orders,10,New customer,6.367797
2,473747,1,prior,3,3,12,21.0,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Most orders,10,New customer,6.367797
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,7,9.0,both,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367797
4,431534,1,prior,5,4,15,28.0,196,1,1,...,7,9.0,both,Mid-range product,Least busy,Least busy days,Most orders,10,New customer,6.367797

In [18]:
# Check frequency of average_expenses column

ords_prods_merge['average_expenses'].value_counts(dropna = False)

8.000000     10337
7.500000      9116
8.100000      8254
7.750000      7048
7.400000      7044
             ...
13.800000        3
10.266667        3
2.700000         3
5.600000         3
12.200000        3
Name: average_expenses, Length: 128637, dtype: int64

In [19]:
# check description of 'average_expenses'

ords_prods_merge.describe()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,last_purchase,product_id,add_to_cart_order,reordered,aisle_id,department_id,prices,max_order,average_expenses
count,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.032876e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07
mean,1.710745e+06,1.029372e+05,1.714230e+01,2.738867e+00,1.342515e+01,1.110408e+01,2.559866e+04,8.352547e+00,5.895873e-01,7.119612e+01,9.919792e+00,1.198023e+01,3.305217e+01,1.198023e+01
std,9.872988e+05,5.946610e+04,1.753532e+01,2.090077e+00,4.246380e+00,8.779064e+00,1.408400e+04,7.127071e+00,4.919087e-01,3.821139e+01,6.281485e+00,4.956554e+02,2.515525e+01,8.324227e+01
min,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,8.559470e+05,5.142200e+04,5.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00,1.354400e+04,3.000000e+00,0.000000e+00,3.100000e+01,4.000000e+00,4.200000e+00,1.300000e+01,7.387298e+00
50%,1.711049e+06,1.026160e+05,1.100000e+01,3.000000e+00,1.300000e+01,8.000000e+00,2.530200e+04,6.000000e+00,1.000000e+00,8.300000e+01,9.000000e+00,7.400000e+00,2.600000e+01,7.824786e+00
75%,2.565499e+06,1.543890e+05,2.400000e+01,5.000000e+00,1.600000e+01,1.500000e+01,3.794700e+04,1.100000e+01,1.000000e+00,1.070000e+02,1.600000e+01,1.130000e+01,4.700000e+01,8.254023e+00
max,3.421083e+06,2.062090e+05,9.900000e+01,6.000000e+00,2.300000e+01,3.000000e+01,4.968800e+04,1.450000e+02,1.000000e+00,1.340000e+02,2.100000e+01,9.999900e+04,9.900000e+01,2.500542e+04

In [20]:
# Create 1st condition

ords_prods_merge.loc[ords_prods_merge['average_expenses'] < 10, 'spending_flag'] = 'Low spender'

In [21]:
# Create 2nd condition

ords_prods_merge.loc[ords_prods_merge['average_expenses'] >= 10, 'spending_flag'] = 'High spender'

In [22]:
# Check output

ords_prods_merge['spending_flag'].value_counts(dropna = False)

Low spender     31770614
High spender      634245
Name: spending_flag, dtype: int64

# 07. 4.8.7

### In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:

### If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”

### If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”

### If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [23]:
# 1. Split the data into groups based on the “user_id” column.
# 2. Apply the `transform()` function on the “days_since_prior_order” (aka - "last_purchase") column to calculate ordering behaviour for each user (via median of 'last_purchase' column.
# 3. Create a new column, “user_behaviour,” into which you’ll place the results of your aggregation.

ords_prods_merge['user_behaviour'] = ords_prods_merge.groupby(['user_id'])['last_purchase'].transform(np.median)

In [24]:
# Check output

ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,last_purchase,product_id,add_to_cart_order,reordered,...,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_expenses,spending_flag,user_behaviour
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,both,Mid-range product,Regularly busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,20.5
2,473747,1,prior,3,3,12,21.0,196,1,1,...,both,Mid-range product,Regularly busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,20.5
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,both,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,20.5
4,431534,1,prior,5,4,15,28.0,196,1,1,...,both,Mid-range product,Least busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,20.5

In [25]:
# Create 1st condition

ords_prods_merge.loc[ords_prods_merge['user_behaviour'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'

In [26]:
# Create 2nd condition

ords_prods_merge.loc[(ords_prods_merge['user_behaviour'] > 10) & (ords_prods_merge['user_behaviour'] <= 20), 'order_frequency_flag'] = 'Regular customer'

In [27]:
# Create 3rd condition

ords_prods_merge.loc[ords_prods_merge['user_behaviour'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [28]:
# Check output


ords_prods_merge['order_frequency_flag'].value_counts(dropna = False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: order_frequency_flag, dtype: int64

# Export dataframe as pickle file

In [42]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'order_products_merged_updated2.pkl'))

In [43]:
print('End of task')

End of task